googlesearch-python
newspaper3k
coffeehouse
prettytable
validators
qrcode
gtts
validators
justwatch
geopy
glitch_this
flag
colour
deezload
pyfiglet
lottie
pydub
humanize
deezloader
tracemoepy
